.button {
  min-width: 200px;
  padding: 15px 30px;
  border-radius: 10000px;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.button--secondary {
  background-color: transparent;
}
