.wordle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.wordle-grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 8px;
  margin-top: 20px;
}

.wordle-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
}

.wordle-tile {
  user-select: none;
  width: 60px;
  height: 60px;
  font-size: 2.3rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;
}

.wordle-tile__front,
.wordle-tile__back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid #d3d6da;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wordle-tile__front {
  background-color: #fff;
  color: #000;
}

.wordle-tile__back {
  background-color: #fff;
  color: #fff;
  transform: rotateX(180deg);
}

.correct .wordle-tile__back {
  background-color: #6aaa64;
  border-color: #6aaa64;
}

.present .wordle-tile__back {
  background-color: #c9b458;
  border-color: #c9b458;
}

.absent .wordle-tile__back {
  background-color: #787c7e;
  border-color: #787c7e;
}

.reveal-tile {
  animation: FlipReveal 0.5s forwards linear;
  animation-delay: calc(var(--reveal-tile-i) * 0.3s);
}

.current-input {
  animation: PopIn 0.3s forwards;
}

@keyframes PopIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes FlipReveal {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}
